.iconContainer {
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;

  transition: 0.6s;
  z-index: 2;
}

.iconContainer img {
  width: 25vw;
}

.iconContainer.active {
  bottom: 15rem;
  opacity: 0;
}

.iconContainer.inactive {
  opacity: 0;
  z-index: -1;
  bottom: auto;
}

.chatBubble {
  position: relative;
  text-align: right;
  opacity: 0;
  z-index: 2;
  transition: 0.6s;
}

.active .chatBubble {
  opacity: 1;
}

.chatBubble > img {
  width: 25vw;
  /* to center the icon */
  display: block;
  margin-left: auto;
}

.chatBubble > span {
  /* to center the icon */
  display: inline-block;
  text-align: left;
}

.composeOptions {
  left: 0;
  opacity: 0;
  z-index: 2;

  transition: 0.6s;
}

.composeOptions > button {
  display: block;
  margin: 0.8rem;
}

.active .composeOptions {
  opacity: 1;
  margin: 5% auto 10%;
}
