.carouselPage {
  width: 100%;
  text-align: left;
}

.carouselPage > div {
  border-radius: 15px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  width: 95%;
  height: 50vh;
  padding: 2rem 8vw;

  margin: 2% auto 15%;
}

.carouselPage > div > h2:not(first-child) {
  margin-bottom: 0;
}

.carouselPage > div h2:first-child {
  margin-bottom: .5rem;
}

.carouselPage > div h2:not(:first-child) {
  margin-top: 1rem;
}

.cash {
  color: #18c496;
  font-weight: 700;
}
