.iconContainer {
  position: fixed;
  bottom: 2.5rem;

  transition: 0.5s;
  z-index: 2;
}

.iconContainer img {
  width: 26vw;
}

.iconContainer.active {
  bottom: 23.3rem;
}

.iconContainer.inactive {
  opacity: 0;
  z-index: -1;
}

.chatBubble {
  position: fixed;
  left: 20px;
  transition: 0.5s;

  bottom: -10rem;
  opacity: 0;
  z-index: 2;
}

.active .chatBubble {
  bottom: 15.1rem;
  opacity: 1;
}

.postmanOptions {
  position: fixed;
  right: 15px;
  transition: 0.5s;

  bottom: -10rem;
  opacity: 0;
  z-index: 2;
}

.postmanOptions > button {
  display: block;
  margin: 0.8rem;
  margin-left: auto;
}

.active .postmanOptions {
  bottom: 5rem;
  opacity: 1;
}
