.menuWrapper {
  list-style: none;
  padding: 0;
  font-family: "Lato";
}

.menuWrapper {
  border-bottom: #547394 2px dashed;
}

.menuWrapper > li {
  border-top: #547394 2px dashed;
  line-height: 4rem;
  color: #547394;
  font-weight: 700;
  position: relative;
  padding-left: 1.5rem;
  font-size: 0.95rem;
}

/* Log Out is in Red Color Font */
.menuWrapper > li:nth-child(3) {
  color: rgb(212, 71, 55);
}

.menuWrapper svg {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}

.menuWrapper img {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}