.container {
  /* center the container */
  width: 88vw;
  float: none;
  display: block;
  margin: 4% auto;
  position: relative;
}

.button {
  color: #547394;
  border: 2px dashed #5473949c;
  border-radius: 12px;
  padding: 0.8rem 1.8rem 0.9rem 6.8rem;
  margin: 0.4rem 0;
  background-color: rgba(235, 247, 253, 0.808);
  width: 100%;
  height: 12vh;
  position: relative;

  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;

  transition: 0.3s;
}

.button.active {
  border: 2px dashed #547394;
  background-color: #ddf4ff;
}

.repostBtn {
  position: absolute;
  left: 10%;
  top: 18%;

  max-height: 8vh;
}

.miniheader {
  display: inline-block;
  width: 80%;
}

.infoBtn {
  display: inline-block;
  text-align: right;
  width: 20%;
}

.infoBtn > img {
  height: 1.5rem;
}
