.animated {
  animation: slide-up 0.5s forwards;
}

/* slide up animation */
@keyframes slide-up {
  from {
    transform: translateY(90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
