.wrapper > div {
  height: 26vh;
}

/* target the header */
.wrapper > div > h3:first-child {
  display: inline-block;
  width: 70%;
}

/* target the "See All" button */
.wrapper > div > h3:nth-child(2) {
  display: inline-block;
  width: 30%;
  text-align: right;
  color: #C3B613;
  z-index: 5;
  position: relative;
}

.carouselContainer {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 100vw;
  top: 25%;
  left: 0;
}

.carouselContainer svg {
  flex: 0 0 55vw;
  width: 70vw;
}

.carouselContainer svg:first-child {
  margin-left: 2rem;
  width: 70vw;
}
