.wrapper > div {
  height: 30vh;
}

.carouselContainer {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  top: 3rem;
  left: 0;
}

.carouselContainer svg {
  flex: 0 0 auto;
  margin-right: .3rem;
  width: 70vw;
}

.carouselContainer svg:first-child {
  flex: 0 0 auto;
  margin-left: 2rem;
  margin-right: .3rem;
  width: 70vw;
}
