.wrapper {
  text-align: center;
  margin: 2% 0 4%;
}

.wrapper > div {
  padding: 1.4rem;
}

.wrapper p {
  margin: 0 !important;
}

.formWrapper textarea {
  border-radius: 6px;
  border: 1px solid #547394;
  width: 100%;
  height: 20rem;
  padding: 1rem;
  font-size: 1.2rem;

  background: url(../../assets/images/letter-backdrop.svg) no-repeat;
  background-position: 100% 97%;
  background-size: 70%;
}

.error {
  color: #f8b67b;
  margin: 0.2rem 0 0.5rem;
}

.sendModal > div {
  opacity: 0;
  z-index: -1;
  transition: 0.6s ease;
}

.sendModal.active > div {
  opacity: 1;
  z-index: 99999;
}

/* make the white border lesser */
.sendModal > div > div {
  padding: 1.5rem 1.5rem;
}
