.footerContainer {
  background: url(../../assets/images/cityscape.png);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;

  width: 100%;
  position: fixed;
  bottom: -19%;
  height: 50%;

  z-index: 0;
}
