.error {
  color: rgb(199, 48, 48);
}

.formWrapper svg {
  overflow: visible;
}

@media screen and (max-width: 374px) and (max-height: 811px) {
  /* prevent clipping of envelope svg in smaller screen devices */
  .formWrapper svg {
    height: 40vh;
    min-height: 250px;
    display: block;
    margin: auto;
    width: 31vw;
  }
}
