.actionButton {
    color: #547394;
    border: 2px dashed #547394;
    border-radius: 12px;
    padding: .9rem 1rem;
    margin: 0.6rem 0.5rem;
    box-shadow: 0px 3px 15px 0px rgba(255,221,141,0.30);

    font-family: "Lato";
    font-weight: bold;
    font-size: .95rem;
}

.fullWidth {
    width: 80%;
}