.toolbarWrapper > * {
  display: inline-block;
}

.headerGroup {
  display: flex;
  justify-content: space-between;

  text-align: center;
}

.headerGroup > h3 {
  font-size: 1.2rem !important;
  line-height: 2.5rem !important;
  margin-bottom: 0;
}

.header {
  display: inline-block;
  width: 50%;
  background-color: #f8ffff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: background-color 0.4s;
}

.header.active {
  background-color: #dff3ffc2;
}

.body {
  background-color: #dff3ffc2;
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
}

.toolbar {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  transform: scale(0);
  height: 0;
  display: none;

  transition: 0.3s ease;
}

.toolbar.active {
  opacity: 1;
  transform: scale(1);
  height: auto;
  display: flex;
}
