/* target the wrapper */
.middleBalloon {
  position: relative;
  left: 35%;
  animation: float-up 6s linear;

  opacity: 0;
}

.firstBalloon {
  position: relative;
  left: -30%;
  animation: float-up 6s linear;
  animation-delay: 2s;

  opacity: 0;
}

.thirdBalloon {
  position: relative;
  left: 1%;
  animation: float-up 6s linear;
  animation-delay: 4s;

  opacity: 0;
}

/* target the svg */
.middleBalloon svg {
  animation: scale 6s linear;
}

.firstBalloon svg {
  animation: scale 6s linear;
  animation-delay: 2s;
}

.thirdBalloon svg {
  animation: scale 6s linear;
  animation-delay: 4s;
}

/* setting keyframes */
@keyframes float-up {
  0% {
    top: 50vh;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes rotate {
  0% {
    transform:rotate(4deg);
  }
  50% {
    transform:rotate(-4deg);
  }
  100% {
    transform:rotate(4deg);
  }
}

