/* Balloon Animations */
/* target the wrapper */
.middleBalloon {
  position: relative;
  left: 35%;
  animation: float-up 6s linear;

  opacity: 0;
}

.firstBalloon {
  position: relative;
  left: -40%;
  animation: float-up 6s linear;
  animation-delay: 2s;

  opacity: 0;
}

.thirdBalloon {
  position: relative;
  left: 65%;
  animation: float-up-slower 6s linear;
  animation-delay: 4s;

  opacity: 0;
}

/* target the svg */
.middleBalloon svg {
  animation: scale 6s linear;
}

.firstBalloon svg {
  animation: scale 6s linear;
  animation-delay: 2s;
}

.thirdBalloon svg {
  animation: scale 6s linear;
  animation-delay: 4s;
}

/* setting keyframes */
@keyframes float-up {
  0% {
    top: 45vh;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes float-up-slower {
  0% {
    top: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: -40vh;
    opacity: 0;
  }
}

@keyframes scale-375 {
  0% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes scale-below375 {
  0% {
    transform: scale(0.2);
  }
  10% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}

/* bigger devices like iphone X */
@media only screen and (min-device-width: 375px) {
  /* target the svg */
  .middleBalloon svg {
    animation: scale-375 6s linear;
  }

  .firstBalloon svg {
    animation: scale-375 6s linear;
    animation-delay: 2s;
  }

  .thirdBalloon svg {
    animation: scale-375 6s linear;
    animation-delay: 4s;
  }
}

/* smaller devices like iphone 5 */
@media only screen and (max-device-width: 374px) {
  /* target the svg */
  .middleBalloon svg {
    animation: scale-below375 6s linear;
  }

  .firstBalloon svg {
    animation: scale-below375 6s linear;
    animation-delay: 2s;
  }

  .thirdBalloon svg {
    animation: scale-below375 6s linear;
    animation-delay: 4s;
  }
}

/* Paper Plane Animations */
/* First Paper Plane Left to Right */
.paperPlanes div:first-child {
  animation: leftToRight 3s linear;
  animation-delay: 1.5s;
}

/* Second Paper Plan Right to Left */
.paperPlanes div:nth-child(2) {
  animation: rightToLeft 3s linear;
  animation-delay: 7s;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(250%, -140%);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translate(250%, -80%) scaleX(-1);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -480%) scaleX(-1);
  }
}
